{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-inline">
        <div class="form-group">
            <label for="attribute">Attribute value to look for:</label>
            <input id="attribute" name="attribute" type="text" placeholder="Search users by their attributes" class="form-control" value="{{ term }}" />
        </div>

        <button type="submit" class="btn btn-primary">Consultar</button>
    </form>

    <ul>
        {% for user in users %}
            <li>
                <strong>{{ user.name }}:</strong>
                <ul>
                    {% for attr in user.attributes %}
                        <li>{{ attr }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}